.formContainer {
    background-color: white;
    display: inline-block;
    border: none;
    width: 100%;
}

.formHeader {
    padding: 0px;
    margin: 15px;
    border: none;
    font-size: 20px;
}

.line {
    display: block;
    border-bottom: 2px solid rgb(235, 234, 234);
}

.form__inputBlock {
    width: 100%;
    margin: 0px;
}

.form__fieldset {
    border: none;
    margin: 15px;
    padding: 0px;
}

.form__inputField {
    height: 35px;
    margin: 0px 15px 0px 0px;
    padding: 10px;
    border: 1px solid rgb(163, 163, 163);
    display: inline-block;
}

.form_addTaskButton {
    background-color: teal;
    color: white;
    border: none;
    height: 35px;
}

.form_addTaskButton:active {
    border: 1px solid black;
    border-radius: 1px;
    outline: 1px solid black;
}

.flexInput {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexInput__itemInput {
    flex-basis: 80%;
    flex-grow: 1;
    margin: 5px;
}

.flexInput__itemButton {
    flex-basis: 20%;
    flex-grow: 1;
    margin: 5px;
}